body{
     margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;

  animation: rainbow 15s ease infinite;}
    .center {
      color: blue;
      
    }
    p{
         color: white;
    }